* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline-style: none;
}

body {
  background-color: black;
}

hr {
  position: absolute;
  border-radius: 100%;
  border-color: #f19f7f;
  width: 60%;
  top: 250px;
}

a {
  text-decoration: none;
}

.no-cursor {
  cursor: not-allowed;
}

/*

NAVIGATION 

*/


.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.nav-img--wrapper {
  display: flex;
}

.nav-heading {
  font-size: 32px;
  margin-left: 20px;
  color: #fff;
  transition: all 300ms ease;
}

.nav-search--heading:hover {
  color: rgb(168, 53, 0);
  transition: all 300ms ease;
  cursor: pointer;
}

.nav-img {
  width: 40px;
}

.nav-film--img {
  top: 12px;
  position: relative;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 8px;
  border-radius: 50px;
  width: 230px;
}

#search-btn {
  position: relative;
  left: -15%;
  padding: 7px 10px 7px 10px;
  transition: all 400ms ease;
  border: none;
  border-radius: 50%;
}

#search-btn:hover {
  color: rgb(250, 79, 0);
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* 

HEADER

*/

header {
  width: 100%;
  height: 90.69%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgb(148, 54, 11), rgb(77, 1, 1) 50%, black)
}

.header-search {
  height: 1115px;
}

.featured {
  position: absolute;
  top: 215px;
  color: #fff;
}

/*

Featured  

*/

.movie-wrapper {
  position: relative;
  top: 158px;
}

#movie-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
  max-width: 100%;
  z-index: 1;
}

.movie {
  padding: 0px 60px 0px 60px;
  z-index: 1;
  transition: all 500ms ease;
}

.movie-title {
  display: flex;
  flex-wrap: wrap;
  width:300px;
  display: none;
}

.movie-year {
  display: none;
}

.movie-img {
  position: relative;
  height: 442px;
  width: 280px;
  transition: all 500ms ease;
}

.movie-img:hover  {
  transform: scale(1.1);
  transition: all 500ms ease;
  cursor: pointer;
}


/*

Search

*/

.movie-search--list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 1;
}

.movie-search {
  padding: 20px 60px 20px 60px;
}

.movie-search--title {
display: none;
}

.movie-search--year {
display: none;
}

.hr-results {
  top: 10px;
}

.search-results {
  top: -20px;
}

